.box{
  background-color: beige;
}

span{
  cursor: pointer;
  background-color: red;
  color: white
}

.img-container{
  height: 300px;
  width: 300px;
  margin: 20px;
  background-color: orange;
  display: flex;
  justify-content: center;
}

img{
  width: 100%;
  height: 100%;
  text-align: center;
}
.box{
  padding: 10px;
  margin: 10px;
}

.inner{
  display: flex;
  flex-direction: row;
}