.box{
  background-color: beige;
  transition: 0.3s;
  border-radius: 10px;
}

h1{
  text-align: center;
}
.box:hover{
  background-color: #3e8e41;
  color: white;
}

span{
  cursor: pointer;
  padding: 5px;
  top: 5px;
  background-color: black;
  color: white;
  position: relative;
  border-radius: 5px;
  transition: 0.3s;
}

span:hover{
  background-color: #E05263;
}

.img-container{
  max-width: 100%;
  background-color: #A1C084;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

img {
  display: block;
  width: 300px;
  height: 200px;
  margin: auto;
  background-image: url(https://placehold.co/300x200?text=No+Image+Sorry);
}

.box{
  padding: 10px;
  margin: 10px;
}

.inner{
  display: flex;
  flex-direction: row;
}